* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  --Dark-Blue-Intro: hsl(217, 28%, 15%);
  --Dark-Blue-Main: hsl(218, 28%, 13%);
  --Dark-Blue-Footer: hsl(216, 53%, 9%);
  --Dark-Blue-Testimonials: hsl(219, 30%, 18%);
  --Cyan: hsl(176, 68%, 64%);
  --Blue: hsl(198, 60%, 50%);
  font-size: 14px;
}
body {
  background-color: var(--Dark-Blue-Main);
  color: white;
  width: 360px;
  margin: 0 auto;
}
button {
  display: block;
  width: 70%;
  margin: 0 auto;
  padding: 20px 0;
  border: 0;
  border-radius: 30px;
  color: white;
  font-weight: bold;
  background-image: linear-gradient(to right, var(--Cyan), var(--Blue));
}
button:hover {
  filter: brightness(110%);
  cursor: pointer;
}
h1, h2, h3, button, .navbar a, footer a {
  font-family: 'Raleway', sans-serif;
}
p, span {
  font-family: 'Open Sans', sans-serif;
}

/* HEADER */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 50px;
  margin-top: 10px;
  background-color: var(--Dark-Blue-Intro);
}
header .logo {
  width: 30%;
}
header .navbar {
  width: 50%;
}
header .navbar a {
  color: white;
  text-decoration: none;
}
header .navbar a:hover {
  color: var(--Cyan);
}
header ul {
  display: flex;
  list-style: none;
  align-items: center;
  justify-content: space-between;
}

/* INTRO */
.intro {
  margin-bottom: 120px;
  width: 100%;
  background-color: var(--Dark-Blue-Intro);
}
.intro-top-size {
  height: 340px; 
  background-image: url('../images/illustration-intro.png'), url('../images/bg-curvy-mobile.svg');
  background-size: 100%, 100%;
  background-position: top, bottom;
  background-repeat: no-repeat, no-repeat;
}
.intro-bottom {
  background-color: var(--Dark-Blue-Main);
}
.intro-bottom h1 {
  text-align: center;
  font-size: 1.8rem;
  line-height: 1.3;
  position: relative;
  top: -50px;
}
.intro-bottom p {
  position: relative;
  top: -30px;
  text-align: center;
  font-size: 1.2rem;
  line-height: 1.3;
}
.intro-bottom button {
  width: 80%;
}

/* ABOUT US */
.about-us {
  margin-bottom: 150px;
}
.about-us article {
  margin-bottom: 100px;
}
.about-us article img {
  display: block;
  margin: 0 auto;
  height: 100px;
}
.about-us h2 {
  margin-top: 30px;
  margin-bottom: 10px;
  text-align: center;
}
.about-us p {
  text-align: center;
  font-size: 1.2rem;
}

/* PRODUCTIVE */
.productive {
  margin-bottom: 150px;
}
.productive-left {
  height: 300px;
  background-image: url('../images/illustration-stay-productive.png');
  background-size: cover;
}
.productive-right h2 {
  margin-top: 40px;
  text-align: center;
}
.productive-right p {
  margin-top: 20px;
  font-size: 1.2rem;
}
.productive-link {
  display: flex;
  width: 42%;
  align-items: center;
  margin: 20px 0;
  padding-bottom: 5px;
  text-decoration: none;
  justify-content: space-between;
  color: var(--Cyan);
  border-bottom: 1px solid var(--Cyan);
}

/* TESTIMONIALS */
.testimonials {
  margin-bottom: 150px;
  padding-top: 30px;
  background-image: url('../images/bg-quotes.png');
  background-repeat: no-repeat;
  background-position: top left;
  background-size: 10%;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}
.testimonials article {
  background-color: var(--Dark-Blue-Testimonials);
  height: 200px;
  margin-bottom: 20px;
  padding: 30px;
}
.testimonials article .personal-text {
  font-size: 0.85rem;
  line-height: 1.6;
}  
.testimonials article .personal-info {
  display: flex;
  margin-top: 20px;
  align-items: center;
}
.testimonials article .personal-img {
  width: 12%;
  border-radius: 100%;
  margin-right: 10px;
}
.testimonials article .personal-name-one {
  font-weight: bold;
  font-size: 0.85rem;
}
.testimonials article .personal-name-two {
  font-weight: bold;
  font-size: 0.75rem;
}

/* EARLY ACCESS */
.early-access {
  width: 100%;
  border-radius: 10px;
  background-color: var(--Dark-Blue-Intro);
  height: 350px;
  padding: 40px 20px;
  text-align: center;
  margin-bottom: 100px;
}
.early-access h2 {
  margin-bottom: 20px;
}
.early-access p {
  margin-bottom: 30px;
  font-size: 1.2rem;
  line-height: 1.3;
}
.early-access form {
  display: flex;
  flex-direction: column;
}
.early-access input {
  padding: 20px 20px;
  border: 0;
  border-radius: 30px;
  margin-bottom: 20px;
}
.early-access button {
  width: 100%;
}

/* FOOTER */
footer {
  width: 100%;
  margin: 0 auto;
}
footer .footer-logo {
  margin-bottom: 50px;
}
footer .table {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 15px;
}
footer .table-icon {
  width: 5%;
  flex-shrink: 0;
}
footer .table-text {
  width: 85%;
  font-size: 1.2rem;
}
footer .footer-contact-table {
  margin-bottom: 70px;
}
footer .table-right .table {
  align-items: center;
}
footer ul {
  list-style: none;
}
footer ul li {
  margin-top: 15px;
}
footer h3 {
  font-weight: normal;
  font-size: 1rem;
}
footer a {
  text-decoration: none;
  color: white;
  font-size: 1rem;
}
footer a:hover {
  color: var(--Cyan);
}
footer .footer-contact-us {
  margin-top: 40px;
  margin-bottom: 50px;
}
footer .footer-social {
  width: 40%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}
footer .footer-social-icon {
  width: 30px;
  height: 30px;
  border-radius: 100%;
  border: 1px solid white;
  text-align: center;
  padding-top: 6px;
  padding-left: 1px;
}
footer .footer-social-icon:hover {
  color: var(--Cyan);
  border: 1px solid var(--Cyan);
}

@media (min-width: 1200px) {
  html {
    font-size: 16px;
  }
  body {
    width: 100%;
  }
  .header-size, .productive-size, .testimonials-size, .footer-size {
    width: 100%;
  }
  header {
    padding: 40px 60px 0 60px;
  }
  header .logo {
    width: 150px;
  }
  header .navbar {
    width: 30%;
  }
  .intro {
    margin-bottom: 0;
    padding-top: 50px;
  }
  .intro-top-size {
    max-width: 850px;
    height: 500px;
    margin: 0 auto;
    background-image: url('../images/illustration-intro.png');
    background-size: 80%;
    background-repeat: no-repeat;
  }
  .intro-bottom-size {
    max-width: 850px;
    margin: 0 auto;
  }
  .intro-top {
    margin-bottom: 40px;
  }
  .intro-bottom {
    background-color: var(--Dark-Blue-Intro);
    background-image: url('../images/bg-curvy-desktop.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0px 0px;
    height: 400px;
  }
  .intro-bottom h1 {
    top: 0;
    font-size: 2.3rem;
    margin-bottom: 20px;
  }
  .intro-bottom p {
    width: 80%;
    top: 0;
    font-size: 1rem;
    margin: 0 auto;
    margin-bottom: 20px;
  }
  .intro-bottom button {
    width: 50%;
  }
  .about-us {
    max-width: 900px;
    margin: 0 auto;
  }
  .about-us-top, .about-us-bottom {
    display: flex;
    justify-content: space-between;
  }
  .about-us article {
    width: 300px;
  }
  .about-us article h2 {
    font-size: 1.3rem;
  }
  .about-us article p {
    font-size: 0.9rem;
  }
  .productive {
    display: flex;
    max-width: 1300px;
    margin: 0 auto;
    margin-bottom: 100px;
  }
  .productive-left {
    width: 55%;
    height: 450px;
    background-size: 85%;
    background-repeat: no-repeat;
}
  .productive-right {
    width: 45%;
    padding-left: 0px;
    padding-top: 80px;
  }
  .productive-right h2 {
    font-size: 2.3rem;
    text-align: left;
  }
  .productive-right p {
    font-size: 0.9rem;
  }
  .productive-link {
    font-size: 0.9rem;
    width: 155px;
  }
  .testimonials {
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-size: 4%;
    background-position: -1px 10px;
    padding-top: 40px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 80px;
    max-width: 1200px;
  }
  .testimonials article {
    max-width: 360px;
    height: 180px;
  }
  .testimonials article .personal-text {
    font-size: 0.9rem;
    line-height: 1.3;
  }
  .early-access {
    position: relative;
    bottom: -100px;
    max-width: 900px;
    margin: 0 auto;
    height: 250px;
    padding: 30px 50px;
    margin-bottom: 0;
  }
  .early-access h2 {
    font-size: 2.3rem;
  }
  .early-access p {
    font-size: 1rem;
  }
  .early-access form {
    flex-direction: row;
  }
  .early-access form input {
    width: 70%;
    margin: 0 0;
    margin-right: 20px;
  }
  .early-access form button {
    width: 30%;
    margin: 0 0;
  }
  footer {
    background-color: var(--Dark-Blue-Footer);
    padding-top: 180px;
    padding-left: 60px;
    padding-right: 60px;
  }
  footer .footer-logo {
    width: 150px;
  }
  .footer-text {
    display: flex;
  }
  .footer-contact-table {
    display: flex;
    width: 60%;
  }
  footer .table-icon {
    width: 15px;
    flex-shrink: 0;
  }
  footer .table-left {
    width: 60%;
    margin-right: 30px;
  }
  footer .table-left .table-text {
    font-size: 1rem;
  }
  footer .table-right .table-text {
    font-size: 0.9rem;
  }
  footer .table-right .table {
    align-items: center;
  }
  footer .footer-about-us {
    margin: 0 0;
    width: 15%;
  }
  footer .footer-contact-us {
    margin: 0 0;
    width: 15%;
  }
  footer .footer-social {
    width: 10%;
    align-items: flex-start;
  }
  footer .footer-social-icon {
    width: 30px;
    height: 30px;
    border-radius: 100%;
    border: 1px solid white;
    text-align: center;
    padding: 7px 1px 1px 2px;
  }
}

.attribution { 
  font-size: 11px; 
  text-align: center; 
}
.attribution a {
  color: hsl(228, 45%, 44%); 
}