* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  --Dark-Blue-Intro: hsl(217, 28%, 15%);
  --Dark-Blue-Main: hsl(218, 28%, 13%);
  --Dark-Blue-Footer: hsl(216, 53%, 9%);
  --Dark-Blue-Testimonials: hsl(219, 30%, 18%);
  --Cyan: hsl(176, 68%, 64%);
  --Blue: hsl(198, 60%, 50%);
  font-size: 16px;
}
body {
  background-color: var(--Dark-Blue-Main);
  color: white;
  width: 375px;
  margin: 0 auto;
}
button {
  display: block;
  width: 70%;
  margin: 0 auto;
  padding: 20px 0;
  border: 0;
  border-radius: 30px;
  color: white;
  font-weight: bold;
  background-image: linear-gradient(to right, var(--Cyan), var(--Blue));
}

/* HEADER */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
}
header .logo {
  width: 30%;
}
header .navbar {
  width: 50%;
}
header ul {
  display: flex;
  list-style: none;
  align-items: center;
  justify-content: space-between;
}

/* INTRO */
.intro {
  margin-bottom: 120px;
  width: 90%;
  background-color: var(--Dark-Blue-Intro);
}
.intro-top {
  height: 340px; 
  background-image: url('../images/illustration-intro.png'), url('../images/bg-curvy-mobile.svg');
  background-size: 100%, 100%;
  background-position: top, bottom;
  background-repeat: no-repeat, no-repeat;
}
.intro-bottom {
  background-color: var(--Dark-Blue-Main);
}
.intro-bottom h1 {
  text-align: center;
  font-size: 1.8rem;
  line-height: 1.3;
  position: relative;
  top: -50px;
}
.intro-bottom p {
  position: relative;
  top: -30px;
  text-align: center;
  font-size: 1.2rem;
  line-height: 1.3;
}
.intro-bottom button {
  width: 80%;
}

/* ABOUT US */
.about-us {
  margin-bottom: 150px;
}
.about-us article {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 100px;
}
.about-us h2 {
  margin-top: 30px;
  margin-bottom: 10px;
}
.about-us p {
  text-align: center;
  font-size: 1.2rem;
}

/* PRODUCTIVE */
.productive {
  margin-bottom: 150px;
}
.productive-left {
  height: 300px;
  background-image: url('../images/illustration-stay-productive.png');
  background-size: cover;
}
.productive-right h2 {
  margin-top: 40px;
  text-align: center;
}
.productive-right p {
  margin-top: 20px;
  font-size: 1.2rem;
}
.productive-link {
  display: flex;
  width: 42%;
  align-items: center;
  margin: 20px 0;
  padding-bottom: 5px;
  text-decoration: none;
  justify-content: space-between;
  color: var(--Cyan);
  border-bottom: 1px solid var(--Cyan);
}

/* TESTIMONIALS */
.testimonials {
  margin-bottom: 150px;
  padding-top: 30px;
  background-image: url('../images/bg-quotes.png');
  background-repeat: no-repeat;
  background-position: top left;
  background-size: 10%;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}
.testimonials article {
  background-color: var(--Dark-Blue-Testimonials);
  height: 200px;
  margin-bottom: 20px;
  padding: 30px;
}
.testimonials article .personal-text {
  font-size: 0.85rem;
  line-height: 1.6;
}  
.testimonials article .personal-info {
  display: flex;
  margin-top: 20px;
  align-items: center;
}
.testimonials article .personal-img {
  width: 12%;
  border-radius: 100%;
  margin-right: 10px;
}
.testimonials article .personal-name-one {
  font-weight: bold;
  font-size: 0.85rem;
}
.testimonials article .personal-name-two {
  font-weight: bold;
  font-size: 0.75rem;
}

/* EARLY ACCESS */
.early-access {
  width: 100%;
  border-radius: 10px;
  background-color: var(--Dark-Blue-Intro);
  height: 350px;
  padding: 40px 20px;
  text-align: center;
  margin-bottom: 100px;
}
.early-access h2 {
  margin-bottom: 20px;
}
.early-access p {
  margin-bottom: 30px;
  font-size: 1.2rem;
  line-height: 1.3;
}
.early-access form {
  display: flex;
  flex-direction: column;
}
.early-access input {
  padding: 20px 20px;
  border: 0;
  border-radius: 30px;
  margin-bottom: 20px;
}
.early-access button {
  width: 100%;
}

/* FOOTER */
footer {
  width: 100%;
  margin: 0 auto;
}
footer .footer-logo {
  margin-bottom: 50px;
}
footer .table {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 15px;
}
footer .table-icon {
  width: 5%;
  flex-shrink: 0;
}
footer .table-text {
  width: 85%;
  font-size: 1.2rem;
}
footer .footer-contact-table {
  margin-bottom: 70px;
}
footer ul {
  list-style: none;
}
footer ul li {
  margin-top: 15px;
}
footer h3 {
  font-weight: normal;
}
footer a {
  text-decoration: none;
  color: white;
}
footer .footer-contact-us {
  margin-top: 40px;
  margin-bottom: 50px;
}
footer .footer-social {
  width: 40%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}
footer .footer-social img {
  width: 25%;
  border-radius: 100%;
  border: 1px solid white;
  padding: 8px;
}

.attribution { 
  font-size: 11px; 
  text-align: center; 
}
.attribution a {
  color: hsl(228, 45%, 44%); 
}